@import '../colors';

.bg-grey{
  background-color: $light_grey;
}

// _____________________________YURI

.circle, .circle-sm{
  display: inline-block;
  border-radius: 50%;
  margin: 20px;
  text-align: center;
}

.circle{
  width: 100px;
  height: 100px;
}

.circle-sm{
    width: 40px;
    height: 40px;
}

.flex-centralized {
  display: flex;
  justify-content: center;
}

.explanation{
  overflow: hidden;
  padding: 15px 10px;
  background-color: $snow;
  border: solid 1px $light_grey;
  border-radius: 4px;
  margin: 40px 0;
  color: $medium_grey;
  text-align: center;
}

.example-title{
  overflow: hidden;
  padding: 15px 10px;
  background-color: $carbon;
  border: none;
  border-radius: 4px 4px 0 0;
  color: $snow;
}

.box-code{
  overflow: hidden;
  padding: 15px 10px;
  background-color: $snow;
  border: none;
  border-radius: 0 0 4px 4px;
  color: $carbon;
  height: auto;
}

.example{
  overflow: hidden;
  border-radius: 5px;
  margin: 30px auto;
  padding: 0;
  border: 1px solid $line_color_light;
  background-color: lighten($bg_light,6%) !important;
  // background-color: $white;
  p{
    margin: 0;
  }
}

