@import '../colors';
@import '../mixins';

.labeled{
  // background-color: $blue_site;
  overflow: hidden;
  padding: 0;
  width: auto;
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 1.2em;
  .button-group{
    padding: 10px 22px;
    background-color: $carbon;
    float: left;
    color: $snow;
    &.or{
      position: relative;
      width: .3em;
      height: 2.57142857em;
      z-index: 3;
      background-color: white !important;
      padding: 0.5px;
      float: left;
      &:before{
        position: absolute;
        text-align: center;
        border-radius: 500rem;
        content: 'ou';
        top: 50%;
        left: 50%;
        background-color: #fff;
        text-shadow: none;
        margin-top: -1.08em;
        margin-left: -.89285714em;
        width: 1.78571429em;
        height: 1.78571429em;
        line-height: 1.78571429em;
        color: rgba(0,0,0,.4);
        font-style: normal;
        font-weight: 700;
        box-shadow: 0 0 0 1px transparent inset;
      }
    }
    &.blue{
      background-color: $blue_site;
    }
    &.first{
      border-radius: 4px 0 0 4px;
    }
    &.in-between{
    }
    &.last{
      border-radius: 0 4px 4px 0;
    }
    &:hover {
      background-color: darken($carbon, 10%);
    }
    &:active {
      background-color: lighten($carbon, 10%);
    }
  }
}

.button-left{
  width: auto;
	position: relative;
  padding: 10px 22px;
	background: $blue_site;
  border-radius: 4px 0 0 4px;
  border: solid 1px $blue_site;
  color: $snow;
  font-size: 1.2em;
  float: left;
  &:hover {
    background-color: darken($blue_site, 10%);
  }
  &:active {
    background-color: lighten($blue_site, 10%);
  }
}
.arrow_box {
  width: auto;
	position: relative;
  padding: 10px 10px;
	background: white;
  border-radius: 0 4px 4px 0;
  border: solid 1px $blue_site;
  color: $blue_site;
  font-size: 1.2em;
  float: left;
}
.arrow_box:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-right-color: white;
	border-width: 10px;
	margin-top: -10px;
}


button.ui, .button,{
  overflow: hidden;
  padding: 10px 22px;
  background-color: $carbon;
  border: none;
  border-radius: 4px;
  margin: 0 10px 0 0;
  color: $snow;
  &.xs {
    font-size: 0.8em;
    padding: 5px 10px;
  }
  &.sm, &.small{
    font-size: 0.9em;
    padding: 7px 17px;
  }
  &.lg, &.big{
    font-size: 1.5em;
    padding: 12px 30px;
  }
  &.xl, &.huge{
    font-size: 2.5em;
    padding: 20px 40px;
  }
  &.primary{
    background-color: $blue_site;
    color: white;
    &:hover {
      background-color: darken($blue_site, 10%);
    }

    &:active {
      background-color: lighten($blue_site, 10%);
    }
  }
  &.secondary{
    background-color: $secondary_color;
    color: white;
  }
  &:hover {
    background-color: darken($carbon, 10%);
  }

  &:active {
    background-color: lighten($carbon, 10%);
  }
}

.button{
  overflow: hidden;
  .hidden{
    display: none;
  }
  .visible{
    display: inline-block;
  }
  &:hover{
    .hidden{
      display: inline-block;
      width: 100%;
    }
    .visible{
      display: none;
    }
  }
}
