.container{
  width: 96%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1260px;
}

.central-column{
  width: 96%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 780px;
  text-align: center;
}

