@import '../colors';
@import '../mixins';

hr {
  display: block;
  clear: both;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  border: none;
  border-bottom: 1px solid $line_color;
}

.bsbb{
  @include box_sizing;
}