.space {
  margin: 30px auto;
}
.space-xs{
  margin: 10px auto;
}
.space-sm{
  margin: 20px auto;
}
// .space-md{
  // margin: 30px auto;
// }
.space-lg{
  margin: 40px auto;
}
.space-xl{
  margin: 60px auto;
}
.space-hg{
  margin: 90px auto;
}
.space-xhg{
  margin: 120px auto;
}

.space-top{
  margin: 30px 0 15px 0;
}

.space-h{
  margin-left: 10px;
  margin-right: 10px
}

.breathe-h{
  padding-left: 10px;
  padding-right: 10px
}

.breathe{
  padding: 30px 10px;
}

.breathe-xs{
  padding: 10px 10px;
}
.breathe-sm{
  padding: 20px 10px;
}
// .breathe-md{
//   padding: 30px 10px;
// }

.breathe-lg{
  padding: 40px 10px;
}
.breathe-xl{
  padding: 60px 10px;
}
.breathe-hg{
  padding: 90px 10px;
}
.breathe-xhg{
  padding: 120px 10px;
}
