@import '../settings';
@import '../colors';
@import '../mixins';

.portfolio{
  font-size: 0;
  .wrapper,.item{
    vertical-align: top;
    @include box_sizing;
    display: inline-block;
    overflow: hidden;
    font-size: $default_font_size;
  }
  &.ten-per-row{
    .wrapper,.item{
      width: percentage(1/10);
    }
  }
  &.nine-per-row{
    .wrapper,.item{
      width: percentage(1/9);
    }
  }
  &.eight-per-row{
    .wrapper,.item{
      width: percentage(1/8);
    }
  }
  &.seven-per-row{
    .wrapper,.item{
      width: percentage(1/7);
    }
  }
  &.six-per-row{
    .wrapper,.item{
      width: percentage(1/6);
    }
  }
  &.five-per-row{
    .wrapper,.item{
      width: percentage(1/5);
    }
  }
  &.four-per-row{
    .wrapper,.item{
      width: percentage(1/4);
    }
  }
  &.three-per-row{
    .wrapper,.item{
      width: percentage(1/3);
    }
  }
  &.two-per-row{
    .wrapper,.item{
      width: percentage(1/2);
    }  
  }  
}