$primary_color: #3191F7;
$secondary_color: #5B616A;
$text_color: #444;
$text_color_light: #999;
$text_color_dark: #111;
$bg_light: #ddd;
$bg_dark: #222;
$error_color: #e23b42;

$line_color_light: lighten($bg_light,2%);
$line_color_dark: lighten($bg_dark,50%);
$line_color: $line_color_light;


// ----- Alias
$primary: $primary_color;
$secondary: $secondary_color;

// _____________________________Alertas
$sucess: #2ecc71;
$warning: #f1c40f;
$danger: #e74c3c;

// _____________________________YURI
// pateta de Cores novas
$snow: #FCF7F8;
$light_grey: #CED3DC;
$medium_grey: #ABA9C3;
$blue_site: #3191F7;
$carbon: #5B616A;


// New Colors
$white: white;
$navy: #001F3F;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #ea2739;
$maroon: #85144b;
$fuchsia: #F012BE;
$purple: #B10DC9;
$black: #111111;
$gray: #AAAAAA;
$grey: #AAAAAA;
$silver: #DDDDDD;