$primary_color: blue;
$secondary_color: black;

// $light_grey: #ddd;
$line_color: #ccc;

// pateta de Cores novas
$snow: #FCF7F8;
$light_grey: #CED3DC;
$medium_grey: #ABA9C3;
$blue_site: #3191F7;
$carbon: #5B616A;
